<Configuration>
    <Appenders>
        <RollingFile name="json-file" fileName="/var/log/messages/email-adm.log.json" filePattern="/var/log/messages/email-adm-%i.log.json">
            <JSONLayout
                    compact="true" eventEol="true" properties="false" includeStacktrace="false" stacktraceAsString="false" includeTimeMillis="false">
            </JSONLayout>

            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="json-file"/>
        </Root>
    </Loggers>

</Configuration>