<Configuration>
    <Appenders>
        <RollingFile name="json-file" fileName="/var/log/messages/email-adm.log.json" filePattern="/var/log/messages/email-adm-%i.log.json">
            <JSONLayout
                    compact="true" eventEol="true" properties="false" includeStacktrace="false" stacktraceAsString="false" includeTimeMillis="true">
            </JSONLayout>
            <SizeBasedTriggeringPolicy size="10 MB" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <AsyncRoot level="WARN">
            <AppenderRef ref="json-file"/>
        </AsyncRoot>
    </Loggers>

</Configuration>